.landing-form{
    height:auto;
    width: 450px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 7px #0000000F;
    border: 1px solid #EBE8E8;
    border-radius: 10px;
    opacity: 1;
    h3{
        color:#E2212C;
        font-weight: 900;
        margin-bottom: 30px;
    }
    padding: 20px;
}

.c-field-holder {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    .c-field-title {
      font-size: 14px;
      text-align: left;
      margin-bottom: 6px;
      color: #124A67;
    }

    .c-field {
      background: #f5f5fa 0% 0% no-repeat padding-box;
      border: 1px solid #99B5C5;
      border-radius: 8px;
      font-size: 14px;
      height: 48px;
      outline: none;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #124A67;

      &.disabled{
        &:focus {
          background: #f5f5fa 0% 0% no-repeat padding-box;
          border: 1px solid #e2e2e2;
          box-shadow: unset;
        }
      } 
      
      &.disabled.validated {
        &:focus {
          background: #EEF6FB 0% 0% no-repeat padding-box;
          border: 1px solid #CCDEE8;
          box-shadow: unset;
        }
      }

      &.validated {
        background: #EEF6FB 0% 0% no-repeat padding-box;
        border: 1px solid #CCDEE8;

        &:focus {
          background: #FFFFFF 0% 0% no-repeat padding-box;
        }
      }

      &:focus {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #7BB0FF;
        border: 1px solid #CCDEE8;
      }

      &::-webkit-input-placeholder {
        font-size: 14px;
        color: #b5b5b5;
      }
      &:-moz-placeholder {
        font-size: 14px;
        color: #b5b5b5;
      }
      &::-moz-placeholder {
        font-size: 14px;
        color: #b5b5b5;
      }
      &:-ms-input-placeholder {
        font-size: 14px;
        color: #b5b5b5;
      }
    }

    .c-select-input {
      height: 48px;
      width: 100%;
      background: #f5f5fa 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #00000029;
      border: 1px solid #005b8b;
      border-radius: 8px;
      font-size: 14px;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      padding: 0;

      &:focus-within {
        box-shadow: 0px 0px 6px #7BB0FF;
        border: 1px solid #7BB0FF;
      }

      .MuiSelect-root {
        padding: 0px 24px 0px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Open Sans", sans-serif;
        height: 100%;
        font-weight: bold;
        font-size: 16px;

        @at-root .placeholder {
          color: #005b8b !important;
        }
      }

      .MuiSelect-icon {
        color: #005b8b;
      }
    }

    .c-flex-holder-row {
      display: flex;

      .c-col-field-prefix {
        width: 64px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f5f5fa 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000029;
        border: 1px solid #005b8b;
        border-radius: 8px;
        font-size: 14px;
        font-weight: bold;
        padding: 0;
      }

      .c-col-field-holder {
        flex: auto;
        margin-left: 8px;
      }
    }

    .c-error {
      margin-top: 2px;
      margin-left: 5px;
      color: red;
      font-size: 12px;
      text-align: left;
    }
}

.c-terms-label {
    margin-top: 20px;
    display: flex;
    color: #124A67;

    &.extra-margin {
      margin-top: 40px;
    }

    input.c-terms-checkbox {
        margin-top: 3px;
        width: 24px;
        height: 24px;
        background: #eef6fb 0% 0% no-repeat padding-box;
        border: 1px solid #99B5C5;
        border-radius: 4px;
        -webkit-appearance: none;
        appearance: none;
        outline: 0;
        flex: none;

        &:checked,
        &:not(:checked) {
            position: relative;

            &:before {
            content: "\2713\0020";
            position: absolute;
            top: 0.15em;
            left: 0.22em;
            font-size: 1.3em;
            line-height: 0.8;
            color: #124A67;
            transition: all 0.3s;
            font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
        }
      }

      &:checked {
        &:before {
          opacity: 1;
        }
      }
      &:not(:checked) {
        &:before {
          opacity: 0;
        }
      }
    }

    .c-terms-text {
      font-size: 12px;
      margin-left: 16px;
      text-align: left;

      a {
        color: #016899;
        text-decoration: underline;
        font-weight: bold;
      }
    }
}

button.submit-btn {
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    background-color: #D80012;
    
    &:hover {
      background-color: #037093;
    }

    &.Mui-disabled{
      background-color: rgba(0, 0, 0, 0.12);
    }
  }


@media (max-width: 1100px) {
    .landing-form{
        width: 400px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .landing-form{
        width: 100%;
        margin-bottom: 50px;
    }
}